app==0.0.1
Flask==3.1.1
flask_cors==5.0.1
Flask_JWT_Extended==4.7.1
flask_sqlalchemy==3.1.1
joblib==1.4.2
numpy==2.3.0
pandas==2.3.0
prophet==1.1.6
python-dotenv==1.1.0
python_dateutil==2.9.0.post0
pytz==2025.1
SQLAlchemy==2.0.41
Werkzeug==3.1.3
